/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

body {
  # background-image: url('/images/background.jpg');
  background-attachment: fixed;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

form {
  display: block;
  margin-top: 0em;
}

h1 {
  display: block;
  font-size: 2em;
  font-weight: bold;
  margin: 0.67em 0px;
}

h2 {
  font-size: 2em;
  line-height: 2.4;
  font-weight: bold;
}

h3 {
  font-size: 1em;
  line-height: 2.4;
  font-weight: bold;
}

#sign_field {
  overflow: auto;
  margin: 20px 0px 0px 20px;
}

#sign_position {
  @extend #sign_field
}

#sign_movement {
  @extend #sign_field
}

#sign_handshape {
  overflow: auto;
}

#sign_orientation {
  overflow: auto;
}

#sign_hand {
  @extend #sign_field
}

#sign_left_hand {
  float: left;
}

#sign_right_hand {
  float: right;
}

#sign_1_left_hand {
  @extend #sign_left_hand
}

#sign_1_right_hand {
  @extend #sign_right_hand
}

#sign_2_left_hand {
  @extend #sign_left_hand
}

#sign_2_right_hand {
  @extend #sign_right_hand
}

#sign_3_left_hand {
  @extend #sign_left_hand
}

#sign_3_right_hand {
  @extend #sign_right_hand
}

.handshape_class {
}

.scrollable {
	position:relative;
	overflow:hidden;
	width: 170px;
	height:200px;
}

.scrollable img {
 width: 150px;
 height: 150px;
}

.scrollable .items {
	/* this cannot be too large */
	width:20000em;
	position:absolute;
}

.scrollable .items #selection {
}

.items div {
	float:left;
}

.scrollable input[type="radio"] {
  # display: none;
}
