/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

body {
  # background-image: url('/images/background.jpg');
  background-attachment: fixed;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

form {
  display: block;
  margin-top: 0em;
}

h1 {
  display: block;
  font-size: 2em;
  font-weight: bold;
  margin: 0.67em 0px;
}

h2 {
  font-size: 2em;
  line-height: 2.4;
  font-weight: bold;
}

h3 {
  font-size: 1em;
  line-height: 2.4;
  font-weight: bold;
}

label {
  font-size: 1em;
  line-height: 2.4;
  font-weight: bold;
  text-align: middle;
  text-transform: capitalize;
  width: 100px;
}

#word_memo {
}

#word_submit {
  margin: 10px 0px 0px 0px;
}

#sign_field {
  overflow: auto;
  margin: 20px 0px 0px 0px;
}

#sign_finger {
  width: 327px;
  height: 238px;
}

.sign_position {
  @extend #sign_field
}

.sign_movement {
  @extend #sign_field
}

#sign_handshape {
  overflow: auto;
}

#sign_orientation {
  overflow: auto;
}

#sign_hand {
  @extend #sign_field
}

#sign_left_hand {
}

#sign_right_hand {
}

#sign_1_left_hand {
  @extend #sign_left_hand
}

#sign_1_right_hand {
  @extend #sign_right_hand
}

#sign_2_left_hand {
  @extend #sign_left_hand
}

#sign_2_right_hand {
  @extend #sign_right_hand
}

#sign_3_left_hand {
  @extend #sign_left_hand
}

#sign_3_right_hand {
  @extend #sign_right_hand
}

.handshape_class {
}

.items div {
	float: left;
}

.scrollable {
	position:relative;
	overflow:hidden;
	width: 224.6666px;
	height: 120px;
}

.scrollable img {
 width: 100px;
 height: 100px;
}

.scrollable .items {
	/* this cannot be too large */
	width:20000em;
	position:absolute;
}

.scrollable .items #selection {
	width: 113.3333px;
	height: 133.3333px;
}

.scrollable input[type="radio"] {
  # display: none;
}





.scrollable_page {
	position:relative;
	overflow:hidden;
	width: 780px;
	height: 550px;
}

.scrollable_page img {
  width: 150px;
  height: 150px;
}

.scrollable_page .items {
	/* this cannot be too large */
	width:20000em;
	position:absolute;
	background-image: url('/images/entry.png');
}

.scrollable_page .items #selection {
	width: 780px;
	height: 500px;
}



.scrollable_movement {
	position:relative;
	overflow:hidden;
	width: 780px;
	height: 550px;
}

.scrollable_movement img {
 width: 100px;
 height: 100px;
}

.scrollable_movement .items {
	/* this cannot be too large */
	width:20000em;
	position:absolute;
}

.scrollable_movement .items #selection {
	width: 780px;
	height: 200px;
}



.scrollable_position_movement {
	position:relative;
	overflow:hidden;
	width: 453.3332px;
	height: 120px;
}

.scrollable_position_movement img {
 width: 100px;
 height: 100px;
}

.scrollable_position_movement .items {
	/* this cannot be too large */
	width:20000em;
	position:absolute;
}

.scrollable_position_movement .items #selection {
	width: 113.3333px;
	height: 133.3333px;
}
