#a_left
  %a{:href => "/about"}
    %img{:src => "/images/left_bar/about.png"}
  %a{:href => "/team"}
    %img{:src => "/images/left_bar/team.png"}
  %a{:href => "/map"}
    %img{:src => "/images/left_bar/map.png"}
  %a{:href => "/agenda"}
    %img{:src => "/images/left_bar/agenda.png"}
  %a{:href => "/contact"}
    %img{:src => "/images/left_bar/contact.png"}
