#main{:style => "background-image:url(http://www.yahantsui.com/SLCP/images/about.png); background-repeat:no-repeat; height:500"}
  #content{:style => "height:450px"}
    = render :partial => "about_menu"
    %link{:href => "http://www.yahantsui.com/css/lightbox.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
    %script{:src => "http://www.yahantsui.com/js/prototype.js", :type => "text/javascript"}
    %script{:src => "http://www.yahantsui.com/js/scriptaculous.js?load=effects,builder", :type => "text/javascript"}
    %script{:src => "http://www.yahantsui.com/js/lightbox.js", :type => "text/javascript"}
    #a_right
      %p What is Sign Language Communication?
      %p The goal of the Sign Language Communication Project (SLCP) is to build a user generated American Sign Language (ASL) database. This database will be used as a foundation to build an English Sentence to ASL sentence translation program. The purpose of this database is to further Sign Language education, culture and gesture recognition technology research.
      %p Why SLCP?
      %p This project began with an MFA student at the Parsons the New School for Design named Ya-Han.
      %a{:href => "http://www.yahantsui.com/SLCP/images/about_comic/frame1_s.png", :rel => "lightbox[comic]", :title => "Well...this project began with an MFA student at the Parsons the New School for Design named Ya-Han. "}
        %img{:alt => "", :src => "http://www.yahantsui.com/SLCP/images/about_comic/frame1.png"}
      %p She likes design and technology, because she thinks they make communication today so much better and effective.
      %a{:href => "http://www.yahantsui.com/SLCP/images/about_comic/frame2_s.png", :rel => "lightbox[comic]", :title => "She likes design and technology, because she think they make communication today so much better and effective. "}
        %img{:alt => "", :src => "http://www.yahantsui.com/SLCP/images/about_comic/frame2.png"}
      %p One day, she thought it would be wonderful if design and technology can help to improve sign language communication.
      %a{:href => "http://www.yahantsui.com/SLCP/images/about_comic/frame3_1_s.png", :rel => "lightbox[comic]", :title => "One day, she thought it would be wonderful if design and technology can help to improve sign language communication."}
        %img{:alt => "", :src => "http://www.yahantsui.com/SLCP/images/about_comic/frame3_1.png"}
      %a{:href => "http://www.yahantsui.com/SLCP/images/about_comic/frame3_2_s.png", :rel => "lightbox[comic]", :title => "One day, she thought it would be wonderful if design and technology can help to improve sign language communication."}
        %img{:alt => "", :src => "http://www.yahantsui.com/SLCP/images/about_comic/frame3_2.png"}
      %p After researches on sign language culture, education and recognition technology research, she identified one foundamental problem.
      %a{:href => "http://www.yahantsui.com/SLCP/images/about_comic/frame4_s.png", :rel => "lightbox[comic]", :title => "After researches on sign language culture, education and recognition technology research, she identified one foundamental problem. "}
        %img{:alt => "", :src => "http://www.yahantsui.com/SLCP/images/about_comic/frame4.png"}
      %p She decided that she will use the online users' collective power to build a up-to-date, (close-to) complete, useful sign language project.
      %p
        %a{:href => "http://www.yahantsui.com/SLCP/images/about_comic/frame5.png", :rel => "lightbox[comic]", :title => "She decided that she will use the online users' collective power to build a up-to-date, (close-to) complete, useful sign language project."}
          %img{:alt => "", :src => "http://www.yahantsui.com/SLCP/images/about_comic/frame5_s.png"}
