%body
  #include
    #main{:style => "background-image:url(images/); background-repeat:no-repeat; height:450"}
      #content{:style => "height:400px"}
        %a{:href => "http://www.yahantsui.com/SLCP//about.php"}
          %img{:border => "0", :src => "http://www.yahantsui.com/SLCP/images/home.png", :usemap => "#Map"}
        %br
        %a{:href => "http://www.yahantsui.com/SLCP//entry.php"}
          %img{:src => "http://www.yahantsui.com/SLCP/images/add.png"}
        %a{:href => "http://www.yahantsui.com/SLCP//search.php"}
          %img{:src => "http://www.yahantsui.com/SLCP/images/lookup.png"}
        %a{:href => "http://www.yahantsui.com/SLCP//team.php"}
          %img{:src => "http://www.yahantsui.com/SLCP/images/yahan.png"}
