#include
  #main{:style => "background-image:url(images/); background-repeat:no-repeat; height:450"}
    #content{:style => "height:400px"}
      %a{:href => "/about"}
        %img{:border => "0", :src => "http://www.yahantsui.com/SLCP/images/home.png", :usemap => "#Map"}
      %br
      %a{:href => "/words/new"}
        %img{:src => "http://www.yahantsui.com/SLCP/images/add.png"}
      %a{:href => "/words/show"}
        %img{:src => "http://www.yahantsui.com/SLCP/images/lookup.png"}
      %a{:href => "/team"}
        %img{:src => "http://www.yahantsui.com/SLCP/images/yahan.png"}
