#main{:style => "background-image:url(images/); background-repeat:no-repeat;"}
  %a{:href => "/about"}
    %img{:border => "0", :src => "/images/home.png", :usemap => "#Map"}
  %a{:href => "/words/new"}
    %img{:src => "/images/add.png"}
  %a{:href => "/words/show"}
    %img{:src => "/images/lookup.png"}
  %a{:href => "/team"}
    %img{:src => "/images/yahan.png"}
