#main{:style => "background-image:url(/images/about.png); background-repeat:no-repeat; height:450"}
  #content{:style => "height:400px"}
    = render :partial => "about_menu"
    #a_right
      %a{:href => "http://www.yahantsui.com/SLCP/blog/wp-content/uploads/2010/10/idea-map.jpg"}
        %img{:alt => "", :src => "http://www.yahantsui.com/SLCP/blog/wp-content/uploads/2010/10/idea-map.jpg", :title => "domain map", :width => "500px"}
