#include
  #main{:style => "background-image:url(images/resources.png); background-repeat:no-repeat; height:550"}
    #content{:style => "height:500px"}
      %a{:href => "http://184.106.186.229:9001/", :target => "_blank"}
        %img{:src => "http://www.yahantsui.com/SLCP/images/signister_source.png"}
      %br
      %a{:href => "https://github.com/naush/Signster", :target => "_blank"}
        %img{:src => "http://www.yahantsui.com/SLCP/images/signister_try.png"}
