#include
  #main{:style => "background-image:url(images/about.png); background-repeat:no-repeat; height:500"}
    #content{:style => "height:450px"}
      = render :partial => "about_menu"
      #a_right
        %p
          %img{:src => "http://www.yahantsui.com/SLCP/images/team/yahan.png"}
        %p
          %img{:src => "http://www.yahantsui.com/SLCP/images/team/lung.png"}
        %p
          %img{:src => "http://www.yahantsui.com/SLCP/images/team/daniel.png"}
