%img{:border => "0", :src => "/images/header.png", :usemap => "#Map"}
%map#Map{:name => "Map"}
  %area{:coords => "11,12,292,159", :href => "/", :shape => "rect"}
  %area{:coords => "296,63,436,130", :href => "/words/new", :shape => "rect"}
  %area{:coords => "452,119,548,169", :href => "/search", :shape => "rect"}
  %area{:coords => "575,84,706,131", :href => "/resources", :shape => "rect"}
  %area{:coords => "699,133,800,169", :href => "/about", :shape => "rect"}
